<h2>About Me</h2>
<ul>
  <li><small>2015.09-2015.12</small><br>
    Interning at NEIGHBOR SYSTEM, Inc.
  </li>
  <li><small>2013.06-2015.08</small><br>
    Belong to DC&M LAB.</li>
  <li><small>2012.03-2016.02</small><br>
      Major in Multimedia Engineering, University of Hansung. 
  </li>
</ul>

<p>I'll do my best, more than ever before. For more information, click the links.</a>.</p>

<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-user fa-lg main-list-item-icon"></span>
    <a href="http://blog.dudmy.net/">Blog</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-folder-open fa-lg main-list-item-icon"></span>
    <a href="http://dudmy.net/portfolio/">Portfolio</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/dudmy">GitHub</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-linkedin-square fa-lg main-list-item-icon"></span>
    <a href="https://www.linkedin.com/in/dudmy">LinkedIn</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-slideshare fa-lg main-list-item-icon"></span>
    <a href="http://www.slideshare.net/dudmy">SlideShare</a>
  </li>
</ul>
