<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>Belong to DC&M LAB</h1>
            <span>University of Hansung</span>
            <span><address>Seoul, Korea</address><time>2013.06 to 2015.08</time></span>
        </header>
        <p>
            LAB실 겸 학술 동아리 DC&M(Digital Contents & Multimedia) <em>LAB원</em> 활동.<br/>
        </p>
    </article>
    <article>
        <header>
            <h1>Major in Multimedia Engineering</h1>
            <span>University of Hansung</span>
            <span><address>Seoul, Korea</address><time>2012.03 to 2016.02</time></span>
        </header>
        <p>
            한성대학교에서 멀티미디어공학을 전공하였으며 SW 개발 분야로 진로를 결정.
        </p>
    </article>
</section>
