<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>Belong to DC&M LAB</h1>
            <span>University of Hansung</span>
            <span><address>Seoul, Korea</address><time>2013.06 to 2015.08</time></span>
        </header>
        <p>
            LAB실 겸 학술 동아리 DC&M(Digital Contents & Multimedia) <em>LAB원</em> 활동.<br/>
            개발 관련 프로젝트 진행 · 경진대회 및 공모전 참여 · 논문 작성 등 경험.
        </p>
    </article>
    <article>
        <header>
            <h1>Major in Multimedia Engineering</h1>
            <span>University of Hansung</span>
            <span><address>Seoul, Korea</address><time>2012.03 to 2016.02</time></span>
        </header>
        <p>
            자료구조, 알고리즘, 객체지향언어, 데이터베이스, 운영체제, JAVA 프로그래밍, 서버 프로그래밍, 소프트웨어공학, 모바일 컴퓨팅 등 수강.
        </p>
    </article>
</section>
