<section class="thirteen columns">
    <h1>Portfolio</h1>
    <article>
        <header>
            <h1>차량 운행정보 관련 웹</h1>
            <span><address>네이버시스템(주) 응용SW개발팀</address><time></time>2015</span>
        </header>
        <p>
            Used Skill: Spring Framework, MyBatis, PostgreSQL, Highcharts, Olleh map Biz, JavaScript etc.
        </p>
    </article>
    <article>
        <header>
            <h1>비콘을 이용한 O2O 서비스, 앱과 웹</h1>
            <span><address>멀티미디어공학과 졸업 프로젝트, HSU</address><time>2015</time></span>
        </header>
        <p>
            Used Skill: Android, JSP, Node.js, Tomcat, MySQL, GCM, Bluetooth, WIZTURN Beacon etc.
        </p>
    </article>
    <article>
        <header>
            <h1>편의점에 특화된 유통기한 공동 관리 앱</h1>
            <span><address>소프트웨어공학 팀 프로젝트, HSU</address><time>2015</time></span>
        </header>
        <p>
            Used Skill: Parse(BaaS), Android, ZXing etc.
        </p>
    </article>
    <article>
        <header>
            <h1>LibOutcomes, 공공도서관 서비스 가치평가 모델 및 웹</h1>
            <span><address>HSU 지식정보학부 & 성북정보도서관</address><time>2015</time></span>
        </header>
        <p>
            Used Skill: MVC2 Pattern, Ajax, MySQL, JSTL, jQuery, BootStrap, WYSIWYG Editor etc.
        </p>
    </article>
    <article>
        <header>
            <h1>최신 음악과 아티스트 정보를 얻을 수 있는 웹</h1>
            <span><address>서버 프로그래밍 팀 프로젝트, HSU</address><time>2014</time></span>
        </header>
        <p>
            Used Skill: JSP, Tomcat, MySQL, JDBC etc.
        </p>
    </article>
    <article>
        <header>
            <h1>집단지성을 이용한 한성대 주변 음식점 앱</h1>
            <span><address>제 10회 공학경진대회, HSU</address><time>2014</time></span>
        </header>
        <p>
            Used Skill: Android, Node.js, Socket.IO, MySQL etc.
        </p>
    </article>
    <article>
        <header>
            <h1>멀티미디어와 가상칠판의 실시간 일체형 N스크린 시스템</h1>
            <span><address>창의도전형 SW R&D 지원 사업, 미래창조과학부</address><time>2014</time></span>
        </header>
        <p>
            Used Skill: Node.js, JavaScript etc.
        </p>
    </article>
    <article>
        <header>
            <h1>벽돌 깨기의 규칙을 벗어난 아이템이 추가된 게임</h1>
            <span><address>JAVA 프로그래밍 팀 프로젝트, HSU</address><time>2014</time></span>
        </header>
        <p>
            Used Skill: Java, Java Applet etc.
        </p>
    </article>
    <article>
        <header>
            <h1>손안에서 간단히 만드는 스토리보드 3d 앱</h1>
            <span><address>제 9회 공학경진대회, HSU</address><time>2013</time></span>
        </header>
        <p>
            Used Skill: Android, Unity, 3ds Max etc.
        </p>
    </article>
</section>