<section class="thirteen columns">
    <h1>Portfolio</h1>
    <article>
        <header>
            <h1>차량 운행정보 관련 웹</h1>
            <span><address>응용SW개발팀, NEIGHBOR SYSTEM, Inc.</address><time></time>2015</span>
        </header>
        <p>
            Used Skill: Spring Framework, MyBatis, PostgreSQL, Highcharts, JavaScript etc.
        </p>
    </article>
    <article>
        <header>
            <h1>비콘을 이용한 O2O 서비스, 앱과 웹</h1>
            <span><address>멀티미디어공학과 졸업 프로젝트, HSU</address><time>2015</time></span>
        </header>
        <p>
            Used Skill: Android, JSP, Node.js, Tomcat, MySQL, GCM, Bluetooth, WIZTURN Beacon etc.
        </p>
    </article>
    <article>
        <header>
            <h1>편의점에 특화된 유통기한 공동 관리 앱</h1>
            <span><address>소프트웨어공학 팀 프로젝트, HSU</address><time>2015</time></span>
        </header>
        <p>
            Used Skill: Parse.com(BaaS), Android, ZXing etc.
        </p>
    </article>
    <article>
        <header>
            <h1>LibOutcomes, 공공도서관 서비스 가치평가 모델 및 웹</h1>
            <span><address>성북정보도서관 & 지식정보학부, HSU</address><time>2015</time></span>
        </header>
        <p>
            Used Skill: MVC2, Ajax, MySQL, JSTL, jQuery, BootStrap, WYSIWYG Editor etc.
        </p>
    </article>
    <article>
        <header>
            <h1>집단지성을 이용한 한성대 주변 음식점 앱</h1>
            <span><address>제 10회 공학경진대회, HSU</address><time>2014</time></span>
        </header>
        <p>
            Used Skill: Android, Node.js, Socket.IO, MySQL, GCM etc.
        </p>
    </article>
    <article>
        <header>
            <h1>멀티미디어와 가상칠판의 실시간 일체형 N스크린 시스템</h1>
            <span><address>창의도전형 SW R&D 지원 사업, 미래창조과학부</address><time>2014</time></span>
        </header>
        <p>
            Used Skill: Node.js, JavaScript, HTML5 Canvas etc.
        </p>
    </article>
</section>